@import 'vars';

@each $size-name, $size-value in $type-scale {
	.#{$size-name}{
	  font-size: $size-value;
	}
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
	@media (min-width: $breakpoint-value){
		@each $size-name, $size-value in $type-scale {
			.#{$size-name}--#{$breakpoint-name} {
				font-size: $size-value;
			}
		}
	}
}

.tl {
	text-align: left;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tj {
	text-align: justify;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
	@media (min-width: $breakpoint-value){
		.tl--#{$breakpoint-name} {
			text-align: left;
		}

		.tc--#{$breakpoint-name} {
			text-align: center;
		}

		.tr--#{$breakpoint-name} {
			text-align: right;
		}

		.tj--#{$breakpoint-name} {
			text-align: justify;
		}
	}
}

.t-sans {
	font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.t-serif {
	font-family: Georgia, times, serif;
}

.t-mono {
	font-family: monaco, Consolas, Lucida Console, monospace;
}